.nav-cnt{
    width:100%;
    background-color:#ffffff;
    align-self:center;
    
    border-radius:5px;
}

.header-cnt{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:70px;
}

.logo-cnt{
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo{
    height:50px;
    width:50px;
    border-radius:40px;
}
.logo-name{
    font-size:27px;
    font-family: bree serif;
    font-weight:400;
    color:#ffffff;
}

.header-input-cnt{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:8px;
    padding:5px;
    height:23px;
    width:300px;
    background-color:#f2f2f2;
    margin-left:20px;
}
.search-input{
    border:none;
    outline:none;
    background-color:transparent;
    align-self:flex-start;
    width:250px;
    color:#000000;
    font-family:roboto;
    font-size:15px;

}
.list-cnt{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.list-item{
    list-style-type:none;
}
.link-item{
    font-size:20px;
    font-family: bree serif;
    font-weight:400;
    color:#3a3636;
    margin-left:8px;
    text-decoration:none;
}
.link-item:hover{
    color:#FFA500;
    text-decoration:underline;
}
.hr-line{
    width:1px;
    height:50px;
    border:none;
    background-color:#000000;
    margin-left:7px;
    margin-right:15px;
}

.login-cnt{
    display:flex;
    flex-direction:row;
   justify-content:space-between;
   align-items:center;
}

.login-btn{
    background-color:#F44336;
    border:none;
    padding:6px 10px;
    outline:none;
    color:#ffffff;
    cursor:pointer;
    border-radius:6px;
}
.first-cnt{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.sec-cnt{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    align-items:center;
}

.add-para{
    margin-left:0px;
    margin-right:5px;
}

.add-cnt{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.search-icon{
    color:black;
}